{% extends "base.html" %}

{% block title %}
Mongoori - Vehicle List
{% endblock %}

{% block content %}

<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="card-title">Vehicle Management</h3>

    <div class="card-tools">
      <button id="pullCarsBtn" class="btn btn-success btn-sm">
        ↻ Pull from Platform
      </button>

      <a href="{{ url_for('vehicle_management_pages.vehicle_create_page') }}" class="btn btn-primary btn-sm">
        + Add Vehicle
      </a>
    </div>
  </div>

  <div class="card-body">
    <table id="vehicleTable" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Plate</th>
          <th>Model</th>
          <th>Year</th>
          <th>Trim</th>
          <th>VIN</th>
          <th>Status</th>
          <th>Available</th>
          <th>Last Sync</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{% include "finance/vehicle_finance.html" %}
{% include "vehicle/change_plate_modal.html" %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='finance_management/finance_management.js') }}"></script>
<script src="{{ url_for('static', filename='vehicle_management_v2.js') }}"></script>
{% endblock %}