{% extends "base.html" %}

{% block title %}
Mongoori - Vehicle List
{% endblock %}

{% block content %}

<div class="card">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="card-title">Vehicle Management</h3>
        <div class="card-tools">
            <a href="{{ url_for('vehicle_management_pages.vehicle_create_page') }}" class="btn btn-primary btn-sm">
                + Add Vehicle
            </a>
        </div>
    </div>
    
    <div class="card-body">
    <!--div for Table-->
        <table id = "vehicleTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Plate</th>
                    <th>VIN</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Trim</th>  
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for v in vehicles %}
                <tr data-vehicle-platform-id="{{ v.vehicle_platform_id }}" data-vin="{{ v.vin }}" data-plate="{{ v.plate_number }}"
                    style="cursor:pointer;">
                    <td>{{v.plate_number}}</td>
                    <td>{{v.vin}}</td>
                    <td>{{v.model}}</td>
                    <td>{{v.model_year}}</td>
                    <td>{{v.trim}}</td>
                    <td>
                        {% if v.vehicle_status == 'Active' %}
                            <span class="badge bg-success">Active</span>
                        {% elif v.vehicle_status == 'Maintenance' %}
                            <span class="badge bg-warning text-dark">Maintenance</span>
                        {% elif v.vehicle_status == 'Archived' %}
                            <span class="badge bg-dark">Archived</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--div for Table end-->


</div>

{% include "finance/vehicle_finance.html" %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='location_common.js') }}"></script>
<script src="{{ url_for('static', filename='finance_management/finance_management.js') }}"></script>
<script src="{{ url_for('static', filename='vehicle_management.js') }}"></script>
{% endblock %}