<div class="modal fade" id="financeDetailModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Monthly Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Category</th>
              <th>Source</th>
              <th class="text-end">Amount</th>
            </tr>
          </thead>
          <tbody id="financeDetailBody"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>